{% extends "squelette.html" %}

{% block titre %}Page de contact{% endblock %}
{% block corps %}
    <h1 class="titre">Test</h1>

{% endblock %}
{% block tableau %}


    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	        <thead>
	          <tr>
	            <th>Name</th>
	            <th>Status</th>
	            <th>Date</th>
	            <th>Data</th>
	            <th>Body</th>
	            <th>Duree</th>
	          </tr>
	        </thead>
	        <tbody>

        {% for d in data %}
	          <tr class="odd gradeX">
	            <td>{{d[1] }} </td>
	            <td>{{d[5] }} </td>
	            <td>{{d[2] }} </td>
	            <td>{{d[4] }} </td>
	            <td>{{d[8] }} </td>
	            <td><span class="label lightblue">{{d[10] }} </span></td>
	          </tr>
              {% endfor %}
	        </tbody>
        <tfoot>
	          <tr>
	            <th>Name</th>
	            <th>Status</th>
	            <th>Date</th>
	            <th>Data</th>
	            <th>Body</th>
	            <th>Duree</th>
	          </tr>
	        </tfoot>
	      </table>
{% endblock %}
{% block footer %}
<footer>Copyright ORANGE OLS 2016-2017</footer>
{% endblock %}
