<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>
        {% block title %}Mon testvod sur les crêpes bretonnes{% endblock %}</title>
</head>
<body>
<header>ABSTRACT</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/abstract/filtre">Accueil</a></li>
            <li><a href="/abstract/home">testvod</a></li>
            <li><a href="/abstract/direct">Contact</a></li>
       </ul>
       {% endblock %}
    </nav>
    <section id="content">
       {% block content %}
        <h1>Les couleurs de l'arc-en-ciel sont :</h1>
       {% endblock %}
    </section>
<footer>&copy; Copyright ABSTRACT </footer>
</body>
</html>