{% extends "admin/base.html" %}
{% block content %}
    <h2>Partie formulaire</h2>
{% if envoi %}Votre message a bien été envoyé !{% endif %}

<form action="{% url "contact" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><label for="id_sujet">Sujet:</label>
        <input id="id_sujet" type="text" name="sujet" maxlength="100" />
    </p>
    <p>
        <label for="id_message">Message:</label>
        <textarea id="id_message" rows="10" cols="40" name="message"></textarea>
    </p>
    <p>
        <label for="id_envoyeur">Votre adresse mail:</label>
        <input type="text" name="envoyeur" id="id_envoyeur" />
    </p>
    <p>
        <label for="id_renvoi">Renvoi:</label>
        <input type="checkbox" name="renvoi" id="id_renvoi" />
        <span class="helptext">Cochez si vous souhaitez obtenir une copie du mail envoyé.</span>
    </p>
        <input type="submit" value="Submit" />
</form>

{% endblock %}
