{% extends "squelette.html" %}

{% block titre %}Page de contact{% endblock %}
{% block corps %}
    <h1 class="titre">Page Accueil</h1>
    <h1>{{ titre }}</h1>
    <ul>
        {% for mot in mots %}
            <li>{{ mot }}</li>
        {% endfor %}
    </ul>
{% endblock %}


{% block footer %}
<footer>Copyright orange.com OLS  TV 2016-2017</footer>
{% endblock %}
