/* Overrides list-group-item from Bootstrap */
body{
    background-color: antiquewhite;
    color: black;
}
.list-group-item {
    padding: 3px 10px
}
.titre{
    background-color: aqua;
    color: red;
    font-size: 22px;
}